---
import ProfComponent from "../components/ProfComponent.astro";
import DisciComponent from "../components/DisciComponent.astro";
import { getCollection, getEntry } from "astro:content";

// Pega todos os arquivos md de uma pasta especificada na pasta content
const profs = await getCollection('professores');
const disciplinas = await getCollection('disciplinas');

// Pega um único arquivo md
const infoGeneric = await getEntry('pagInicial', 'pagina-inicial');
---

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHI Lab</title>

    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <b>
        <header>
            <a href="#sobre">
                <h3 id="phiHeader">PHI Lab</h3>
            </a>

            <div id="menu">

                <div id="menuBTN">
                    <ul>
                        <li id="hamb1"></li>
                        <li id="hamb2"></li>
                        <li id="hamb3"></li>
                    </ul>
                </div>

                <ul id="nav">
                    <li><a href="#professores">Professores</a></li>
                    <li><a href="#disciplinas">Disciplinas</a></li>
                    <li><a href="#equipamentos">Equipamentos</a></li>
                </ul>
            </div>

        </header>
    </b>

    <div class="paginaInicial">

        <div class="title">
            <h1>Laboratório de Pneumática e Hidráulica</h1>
            <h4>(PHI Lab)</h4>
        </div>

        <div class="imgInicial">
            <img class="img1" src="/fundos/1B.jpeg" alt="">
            <img class="img2" src="/fundos/2H.jpeg" alt="">
            <img class="img2" src="/fundos/3A.jpeg" alt="">
            <img class="img1" src="/fundos/4B.jpeg" alt="">

        </div>
    </div>

    <div id="sobre">
        <b>
            <h2>Sobre o Laboratório</h2>
        </b>
        <p>{infoGeneric.data.sobre}</p>

        <div class="imgSobre">
                <img class="img3" src={infoGeneric.data.img1} alt="" />
                <img class="img4" src={infoGeneric.data.img2} alt="" />
                <img class="img3" src={infoGeneric.data.img3} alt="" />
        </div>
    </div>

    <div id="professores">
        <b>
            <h2>Professores</h2>
        </b>
        <p class="p">  {infoGeneric.data.sobreProf}</p>

        <div class="cardProf">
            {profs.map((prof) => <ProfComponent frontmatter={prof.data} />)}
        </div>
    </div>

    <div id="disciplinas">
        <h2>Disciplinas que utilizam o PHI Lab</h2>

        <div class="cursos">
            {disciplinas.map((disciplina) => <DisciComponent frontmatter={disciplina.data} />)}
        </div>

    </div>

    <div id="equipamentos">
        <h2>Equipamentos</h2>

        <div class="conteudoEquipamentos">

            <div class="opcoes">
                <button id="bcp" onclick="bcp()">Bancadas de Circuitos Pneumáticos</button>
                <button id="bch" onclick="bch()">Bancada de Circuitos Hidráulicos</button>
                <button id="bmf" onclick="bmf()">Bancada de Mecânica dos Fluidos</button>
            </div>

            <div class="container">

                <div class="imgEquipamento">

                    <div class="slides">

                        <input type="radio" name="radio" id="radio1" checked>
                        <input type="radio" name="radio" id="radio2">
                        <input type="radio" name="radio" id="radio3">

                        <div class="slidBCP">
                            <div class="slid first">
                                <img src="bancadaCP/2A.jpeg" alt="">
                            </div>

                            <div class="slid">
                                <img src="bancadaCP/2B.jpeg" alt="">
                            </div>

                            <div class="slid">
                                <img src="bancadaCP/2C.jpeg" alt="">
                            </div>
                        </div>

                        <div class="slidBCH" style="display: none;">
                            <div class="slid first">
                                <img src="bancadaCH/3A.jpeg" alt="">
                            </div>

                            <div class="slid">
                                <img src="bancadaCH/3B.jpeg" alt="">
                            </div>

                            <div class="slid">
                                <img src="bancadaCH/3C.jpeg" alt="">
                            </div>
                        </div>

                        <div class="slidBMF" style="display: none;">
                            <div class="slid first">
                                <img src="bancadaMF/4A.jpeg" alt="">
                            </div>

                            <div class="slid">
                                <img src="bancadaMF/4B.jpeg" alt="">
                            </div>

                            <div class="slid">
                                <img src="bancadaMF/4C.jpeg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="navigation">
                        <label class="bar" for="radio1"></label>
                        <label class="bar" for="radio2"></label>
                        <label class="bar" for="radio3"></label>
                    </div>

                </div>

                <div class="infoBCP">
                    <h2>Bancadas de Circuitos Pneumáticos</h2>
                    <p>  O PHI Lab conta com 3 bancadas duplas para montagem circuitos pneumáticos e eletropneumáticos,
                        as
                        quais podem proporcionar montagens de experimentos para até 6 grupos simultaneamente. Cada
                        bancada
                        conta com um gaveteiro contendo uma série de componentes pneumáticos e eletropneumáticos, de
                        modo a
                        mantê-los organizados e corretamente armazenados.</p>
                </div>

                <div class="infoBCH" style="display: none;">
                    <h2>Bancada de Circuitos Hidráulicos</h2>
                    <p>  O PHI Lab conta com 1 bancada dupla para montagem circuitos hidráulicos e eletrohidráulicos,
                        bancada esta que pode proporcionar montagens de experimentos para até 2 grupos simultaneamente.
                        A
                        bancada conta com dois gaveteiros contendo uma série de componentes hidráulicos e
                        eletrohidráulicos,
                        de modo a mantê-los organizados e corretamente armazenados.</p>
                </div>

                <div class="infoBMF" style="display: none;">
                    <h2>Bancada de Mecânica dos Fluidos</h2>
                    <p>  O PHI Lab conta com 1 bancada dupla para montagem de experimentos de mecânicas dos fluidos e
                        máquinas de fluxo, bancada esta que pode proporcionar montagens de experimentos para até 2
                        grupos
                        simultaneamente. A bancada conta com aparatos que podem proporcionar, entre outros experimentos,
                        o
                        número de Reynolds, perda de carga distribuída, perda de carga localizada, medição de velocidade
                        de
                        escoamento através de Medidor Venturi e associação de bombas centrífugas.</p>
                </div>
            </div>
        </div>

    </div>

    <footer>

        <div class="fabrica">
            <img src="fundos/fabrica.png" alt="">
        </div>

        <div class="if">
            <img src="fundos/logo-if.png" alt="">
        </div>

    </footer>

    <script is:inline>
        function bcp() {
            document.getElementById("bcp").style.color = "#1C3C61";
            document.getElementById("bch").style.color = "black";
            document.getElementById("bmf").style.color = "black";

            document.getElementById("bcp").style.fontWeight = "bold";
            document.getElementById("bch").style.fontWeight = "normal";
            document.getElementById("bmf").style.fontWeight = "normal";

            document.querySelector(".infoBCP").style.display = "block";
            document.querySelector(".infoBCH").style.display = "none";
            document.querySelector(".infoBMF").style.display = "none";

            document.querySelector(".slidBCP").style.display = "flex";
            document.querySelector(".slidBCH").style.display = "none";
            document.querySelector(".slidBMF").style.display = "none";
        }

        function bch() {
            document.getElementById("bch").style.color = "#1C3C61";
            document.getElementById("bcp").style.color = "black";
            document.getElementById("bmf").style.color = "black";

            document.getElementById("bcp").style.fontWeight = "normal";
            document.getElementById("bch").style.fontWeight = "bold";
            document.getElementById("bmf").style.fontWeight = "normal";

            document.querySelector(".infoBCP").style.display = "none";
            document.querySelector(".infoBCH").style.display = "block";
            document.querySelector(".infoBMF").style.display = "none";

            document.querySelector(".slidBCP").style.display = "none";
            document.querySelector(".slidBCH").style.display = "flex";
            document.querySelector(".slidBMF").style.display = "none";

        }

        function bmf() {
            document.getElementById("bmf").style.color = "#1C3C61";
            document.getElementById("bcp").style.color = "black";
            document.getElementById("bch").style.color = "black";
            
            document.getElementById("bcp").style.fontWeight = "normal";
            document.getElementById("bch").style.fontWeight = "normal";
            document.getElementById("bmf").style.fontWeight = "bold";

            document.querySelector(".infoBCP").style.display = "none";
            document.querySelector(".infoBCH").style.display = "none";
            document.querySelector(".infoBMF").style.display = "block";

            document.querySelector(".slidBCP").style.display = "none";
            document.querySelector(".slidBCH").style.display = "none";
            document.querySelector(".slidBMF").style.display = "flex";
        }

        //menu 

        function menu() {
            const menu =  document.getElementById('menu');

            menu.classList.toggle('active');
        }
        const menuBTN = document.getElementById('menuBTN');
        menuBTN.addEventListener('click', menu);

        document.querySelectorAll('.btnFlip').forEach(button => {
            button.addEventListener('click', () => {
                const flip = button.closest('.flip');
                flip.classList.toggle('flipped');
            });
        });

    </script>

</body>

</html>