---
import ProfComponent from "../components/ProfComponent.astro";
import DisciComponent from "../components/DisciComponent.astro";
import EquipComponent from "../components/EquipComponent.astro";
import { getCollection, getEntry } from "astro:content";

// Pega todos os arquivos md de uma pasta especificada na pasta content
const profs = await getCollection('professores');
const disciplinas = await getCollection('disciplinas');

// Pega um único arquivo md
const infoGeneric = await getEntry('pagInicial', 'pagina-inicial');
const equipamentos = await getCollection('equipamentos');

(equipamentos.map((e) => console.log(e.body)))
---

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHI Lab</title>

    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="nav1">
                <a href="#sobre">
                    <h3 id="phiHeader">PHI Lab</h3>
                </a>
            </div>

            <div class="nav2">
                <ul>
                    <li><a href="#professores">Professores</a></li>
                    <li><a href="#disciplinas">Disciplinas</a></li>
                    <li><a href="#equipamentos">Equipamentos</a></li>
                </ul>
            </div>

            <div class="menu1">
                <div class="menu2" onclick="menu1()">
                    <span class="menuBar" id="bar1"></span>
                    <span class="menuBar" id="bar2"></span>
                    <span class="menuBar" id="bar3"></span>
                </div>
            </div>
        </div>
    </header>

    <ul class="nav3">
        <li><a href="#professores">Professores</a></li>
        <li><a href="#disciplinas">Disciplinas</a></li>
        <li><a href="#equipamentos">Equipamentos</a></li>
    </ul>

    <div class="paginaInicial">
        <div class="title">
            <h1>Laboratório de Pneumática e Hidráulica</h1>
            <h4>(PHI Lab)</h4>
        </div>

        <div class="imgInicial">
            <img class="img1" src="/fundos/1B.jpeg" alt="">
            <img class="img2" src="/fundos/2H.jpeg" alt="">
            <img class="img2" src="/fundos/3A.jpeg" alt="">
            <img class="img1" src="/fundos/4B.jpeg" alt="">
        </div>
    </div>

    <div id="sobre">
        <h2>Sobre o Laboratório</h2>
        <p>{infoGeneric.data.sobre}</p>

        <div class="imgSobre">
            <img class="img3" src={infoGeneric.data.img1} alt="" />
            <img class="img4" src={infoGeneric.data.img2} alt="" />
            <img class="img3" src={infoGeneric.data.img3} alt="" />
        </div>
    </div>

    <div id="professores">
        <h2>Professores</h2>
        <p class="p">{infoGeneric.data.sobreProf}</p>

        <div class="cardProf">
            {profs.map((prof) => <ProfComponent frontmatter={prof.data} />)}
        </div>
    </div>

    <div id="disciplinas">
        <h2>Disciplinas que utilizam o PHI Lab</h2>
        <div class="cursos">
            {disciplinas.map((disciplina) => <DisciComponent frontmatter={disciplina.data} />)}
        </div>
    </div>

        <div id="equipamentos">
            <h2>Equipamentos</h2>
            <div class="conteudoEquipamentos">
                <div class="opcoes">
                    {equipamentos.map((equipamento) => 
                        <button class="btn-equipamento" data-target={equipamento.data.nome.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase().replace(/\s+/g, "-")}>{equipamento.data.nome}</button>
                    )}
                </div>
            {equipamentos.map((equipamento) => <EquipComponent frontmatter={equipamento.data} content={equipamento.body}/>)}
        </div>

    <footer>
        <div class="fabrica">
            <img src="fundos/fabrica.png" alt="">
        </div>

        <div class="if">
            <img src="fundos/logo-if.png" alt="">
        </div>
    </footer>

    <script is:inline>

        function menu1() {
            let bar1 = document.querySelector("#bar1");
            let bar2 = document.querySelector("#bar2");
            let bar3 = document.querySelector("#bar3");

            if (bar1.classList.contains("active")) {
                bar1.classList.remove("active");
                bar1.classList.add("reverse");

                bar2.classList.remove("active");
                bar2.classList.add("reverse");

                bar3.classList.remove("active");
                bar3.classList.add("reverse");
            } else {
                bar1.classList.remove("reverse");
                bar1.classList.add("active");

                bar2.classList.remove("reverse");
                bar2.classList.add("active");

                bar3.classList.remove("reverse");
                bar3.classList.add("active");
            }
            menu2();
        }

        function menu2() {
            let nav3 = document.querySelector(".nav3");

            if (nav3.style.display === "none" || nav3.style.display === "") {
                nav3.style.display = "flex";
            } else {
                nav3.style.display = "none";
            }
        }

        document.querySelectorAll('.btnFlip').forEach(button => {
            button.addEventListener('click', () => {
                let flip = button.closest('.flip');
                flip.classList.toggle('flipped');
            });
        });
    </script>

</body>

</html>
