---
let { frontmatter, content } = Astro.props;
let a = frontmatter.nome.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase().replace(/\s+/g, "-");
---

<div class="conteudoEquipamentos">
    <div class="opcoes">
        <button>{frontmatter.nome}</button>
    </div>

    <div class="container">
        <div class={`slide ${a}`}>
            <div class="slider-container" data-slider={a}>
                <div id="slider">
                    {frontmatter.imagens.map((img) => (
                        <img src={img} class={`slide ${a}`} alt="Equipamentos"/>
                    ))}
                </div>
                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
            </div>

            <div>
                <h2>{frontmatter.nome}</h2>
                <p>{content}</p>
            </div>
        </div>
    </div>
</div>

<script src="/js/slider.js" defer></script>